@charset "UTF-8";

.letraAzul
{
	color:#085596;
}

h2
{
	padding: 20px 0px 20px 0px; 
}

.formualrio
{
	width: 100%;
	padding: 0px 120px 0px 120px;
}

.alerta
{
	color: #b54b4a;
}

.end
{
	text-align: end;
}

.boton
{
	color: white;
	background-color: #075291;
	font-weight: bold;
}
